@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin:0;
    padding:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form img{
    background-size: cover;
    width: 16px;
    height: 16px;
}
.box{
    height: 57vh;
    width: 25vw;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;

}
.box div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}
.box div:nth-child(1) h1{
    font-weight: 400;
    font-family: "Lobster", sans-serif;;
    font-size: 50px;
}
.box form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.box a{
    text-decoration: none;
    font-weight: 600;
    color: #6575d1;
}
form h4{
    color: gray;
}
input[type=text],
input[type=password]{
    width: 300px;
    height: 30px;
    margin: 15px;
}
form  input[type="submit"]{
    border-radius:10px;
    border:1px solid #6575d1;
    width: 300px;
    height: 30px;
    background: #6575d1;
    color: white;
}
.bot{
    margin-top:10px ;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.bot a{
    text-decoration: none;
    font-weight: 600;
    color: #6575d1;
}

